*{
    box-sizing: border-box;
}

body{
    font-family: 'Merienda', cursive;
    margin: 0;
}

.formformat{
    margin: 90px 5px;
    background-color:pink;
    padding: 20px 20px ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px;
}
.formformat label{
    color: white;
    font-size:30px;
}
.mybotton{
        width:100% ;
        padding:19px 39px;
        background-color: blue;
        font-size: 18px;
        color:white;
        border-radius: 5px;
        border:1px solid blue;
}
.mylist li{
    display:inline-block;
margin-left: 10px;
margin-right: 10px;
font-size:0.7em;

}
.global{
    text-align:center;
}
ul{
   list-style:none;


}
a{
    text-decoration: none;
    text-transform:uppercase;
    font-size:1.5em;
}
.banner {
background-image: url("Images/nature1.jpg");
text-align: center;
}
.banner h1{
    color: white;
    font-size: 32px;
}
.banner-img{
width: 200px;
height:200px;
border-radius:50%;
border:2px solid pink;
margin-top: 90px;

}
.banner-img:hover{
    transform: scale(1.2) rotate(10deg);
}

.banner p {
    padding-bottom: 90px;
    color:white;
}
.card{
    background-color: #f1f1f1;
    border-bottom: 5px solid pink ;
    border-radius: 5px;
    padding: 40px 20px;
    margin: 40px
}
.card:hover{
    background-color: pink ;
    border-bottom: 5px solid pink ;
    border-radius: 5px;
    padding: 40px 20px;
    color:white;
}
.card li{
    display:inline-block;
    padding: 10px;
    background-color: black;
    color:white;
}
.card ul{
    margin: 0;
    padding:0;
}
.head img{
width:100%;

}
.header{
    text-align :center;
}
.name{
    width:100%;
    margin-bottom:30px;
    padding: 15px;
}
footer{
    background-color: pink;
    text-align: center;
    color: white;
    padding: 5px;
    margin-top: 70px;
}

footer li{
    display: inline-block;
}
footer a{
    font-size: 0.8em;
    text-transform:capitalize;
}

/* Responsive designs */
@media screen and (min-width: 700px) {
    .container {
    display :flex;
    }

    .card{
        width: 40%;
    }

    .containgallery{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
    }

    .head{
width:30%;
margin:5px 5px;
    }
    .formformat{
             width:600px;
             margin:auto;

    }

    .thin{
        width:40%;
        text-align: left;
    }
.global{
      display: flex;
width: 1200px;
margin:auto;
align-items: center;
}
.mylist{
       width: 60%;
       text-align: right;

}
  }
